// CONSTANTS AND VARIABLES
$screen-ratio: 100%;
$stack-pos: 1;
$duration : 0.60s;
$pointer-flag: true;
$fold-flag : $pointer-flag;
$ui-colors:     
    #e2f8e2,
    #355E3B,
    #6b9c6c,
    #d9ece5;

* a, p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

// MAIN STYLE
.menu {
    position: relative;
    background-color: nth($ui-colors, 2);
    height: $screen-ratio;
    transition: $duration;
    z-index: $stack-pos + 2;
}
 
// STYLE LOGICS FOR MENU
@mixin pointer($flag) {
    @if $flag {
        pointer-events:visible;
    
    } @else {
        pointer-events: none;
    }
}

@mixin menuFlag($flag) {
    @if $flag {
        opacity: 0%;   
    }
    @else {
        opacity: 100%;
    }
}

// MENU STATE
#true.menu {
    transform: skewX(30deg);
    margin-right: -20%;
    width: $screen-ratio - 50%;
    $pointer-flag: false;
    @include pointer($pointer-flag);
}

#false.menu {
    cursor: pointer;
    width: $screen-ratio - 99.9%;
    $pointer-flag: true;
    @include pointer($pointer-flag);
}

// PARAGRAPH FOLDED STATE STYLES
.fold {
    margin : 0%;
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 16.5vw;
    color: nth($ui-colors, 1);
}

#true.fold {
    $pointer-flag: true;
    @include menuFlag($pointer-flag);
}

#false.fold {
    position: relative;
    writing-mode: vertical-lr;
    $pointer-flag: false;
    @include menuFlag($pointer-flag);   
} 

#false.fold {
    position: relative;
    writing-mode: vertical-lr;
    $pointer-flag: false;
    @include menuFlag($pointer-flag);   
}

#false.fold:after {
    content: "";
    text-align: justify;
    display: inline;
    width: 100%;
}

// OPTIONS STYLES
.option {
    position: inherit;
    transform: skewX(-28deg);
    margin: 50px;
    width: 10%;
    display: block;
    transition: $duration;
    pointer-events: visible;
}

#true.option {
    cursor: pointer;
}

#false.option {
    margin-left: -300px;
    margin-top: -250px;
    transform: translateX(-100%);
    opacity: 0%;
}

a.option {
    text-decoration: none;
    color: nth($ui-colors, 4);
    font-size: 3em;
}

a.option:hover {
    scale: 120%;
}
