h1, h2, ul{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 5%;
}

h1 {
    text-decoration: solid;
    text-transform: uppercase;
}

h2 {
    margin-right: 10%;
    text-decoration: none;
}

li {
    margin-top: 1%;
    list-style: none;
}
